<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

## **EXERCISE 1**

## My Jupyter Notebook on IBM Watson Studio

## **EXERCISE 2**

## **MUHAMMAD AREEB KHAN**
#### AI STUDENT

## **EXERCISE 3**

*I am interested in data science because it allows me to analyze and extract insights from large and complex datasets, and ultimately make data-driven decisions that can have a positive impact on various industries and domains.*

### Purpose of Cell 5 Code: 

The code in Cell 5 is intended to sort a list of integers in ascending order using the built-in `sorted()` function in Python.

In [1]:
my_list = [5, 3, 8, 1, 2]
sorted_list = sorted(my_list)

print(sorted_list)

[1, 2, 3, 5, 8]

---

### My favorite books

1. *The Hitchhiker's Guide to the Galaxy* by Douglas Adams
2. *To Kill a Mockingbird* by Harper Lee
3. *The Great Gatsby* by F. Scott Fitzgerald

---

| Book Title | Author | Year Published |
| ---------- | ------ | -------------- |
| *The Hitchhiker's Guide to the Galaxy* | Douglas Adams | 1979 |
| *To Kill a Mockingbird* | Harper Lee | 1960 |
| *The Great Gatsby* | F. Scott Fitzgerald | 1925 |

---

> "The only way to do great work is to love what you do." 
> 
> *- Steve Jobs*

---

~~I don't always test my code, but when I do, I do it in production.~~

<center>
    
<h1>Draw a data frame same as below usning pandas</h1>    
<table>
    <tr><th>ColumnA</th><th>ColumnB</th></tr>
    <tr><td>1</td><td>10</td></tr>
    <tr><td>2</td><td>9</td></tr>
    <tr><td>3</td><td>7</td></tr>
    <tr><td>4</td><td>6</td></tr>
    <tr><td>5</td><td>5</td></tr>
    <tr><td>6</td><td>4</td></tr>
    <tr><td>7</td><td>3</td></tr>
    <tr><td>8</td><td>2</td></tr>
    <tr><td>10</td><td>1</td></tr>

</table>
</center>

In [6]:
import pandas as pd
data = {'ColumnA': [1,2,3,4,5,6,7,8,9,10],
       'ColumnA': [10,9,8,7,6,5,4,3,2,1]}

df = pd.DataFrame(data)
df

   ColumnA
0       10
1        9
2        8
3        7
4        6
5        5
6        4
7        3
8        2
9        1

## **EXERCISE 4**
## Data Science Languages
### 1.Python
### 2.R
### 3.SQL
### 4.Julia
### 5.Matlab
*Python and R are two of the most commonly used programming languages for data science, with Python being particularly popular for its versatility and ease of use. SQL is also important for managing large datasets and extracting data from databases, while Julia and Matlab are used more for numerical computing and scientific computing*

**EXERCISE 5**
## Data Science Libraries

### 1. NumPy
### 2. Pandas
### 3. Matplotlib
### 4. Scikit-learn
### 5. TensorFlow

## **EXERCISE 6**

| Tool             | Purpose                              | Language  |
|------------------|--------------------------------------|-----------|
| Jupyter Notebook | Data Exploration and Analysis        | Python    |
| RStudio          | Statistical Computing and Graphics   | R         |
| Tableau          | Data Visualization                   | JavaScript|
| Apache Hadoop    | Distributed Processing of Large Data | Java      |
| Apache Spark     | Big Data Processing                  | Scala     |

## **EXERCISE 7**

## **EXERCISE 9**

In [8]:
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours.")

120 minutes is equal to 2.0 hours.

## **EXERCISE 8**

In [7]:
# Multiply and Add Numbers
x = 5
y = 10
print(x * y + 3)

53

## **EXERCISE 10**
## Objectives

- Learn basic syntax and structure of Python
- Understand fundamental data structures such as lists, tuples, and dictionaries
- Explore various data manipulation techniques with Pandas library
- Build machine learning models with Scikit-learn library
- Visualize data with Matplotlib and Seaborn libraries
- Gain hands-on experience through practical coding exercises and projects